#map {
    height:100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
	font-size: 24px
}

button {
  padding: 15px 25px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
}

button:hover {background-color: pink;}

button:active {
  background-color: pink;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}