@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

@import url('https://fonts.googleapis.com/css?family=PT+Serif');

#masthead {
    font-family: 'PT Serif';
    font-style: bold;
    text-transform: uppercase;
    font-size: 25pt;
    line-height: .9;
}


.masthead-bar {
    margin: 1px 0px;
    border: 5;
    height: 3px;
    background-color: black;
}

.header {
    background-color: #507fb9;
    min-height: 50px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'PT Serif';
    font-weight: bold;
}

h3 {
    font-family: 'PT Serif';
    text-align: center;
    font-weight: bold;
}

.link-box {
    border-style: double;
}


h4 {
    font-family: 'PT Serif';
    text-align: center;
}

h5{
    font-family: 'PT Serif';
    text-align: center;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    text-align: center;
}

source{
    height: 100%;
    width: 100%;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

#myVideo {
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#score {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
}
